/* ALL */
* {
  /* border: solid 1px black; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #e71e1e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  color: #fff;

}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

/* Container principal */
.container {
  display: flex;
  min-height: 0; /* pour scroll correct */
  height: 100vh;
}

/* Pokemon liste */
.pokemon-list {
  width: 35%;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 20px;
}

/* Pokemon Card */
.pokemon-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  margin: 10px 0;
}

.pokemon-card:hover {
  transform: scale(1.03);
}

.pokemon-id {
  font-weight: bold;
  font-size: 1.5rem;
  width: 40px;
  text-align: left;
  margin-right: 50px;
}

.pokemon-name {
  flex: 1;
  text-align: left;
  font-size: 2rem;
}

.pokemon-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Section détails */
.pokemon-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.desc-img {
  height: 450px;
  object-fit: contain;
}

.desc-type{
display: flex;
}

.type-card {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
}

.type-img {
  height: 50px;
  object-fit: contain;
}

.evolution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.evo-card img {
  height: 80px;
  width: 80px;
}

/* Filtre */
.type-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  margin: 15px 0;
}

.type-filter img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: transform 0.2s, border-color 0.2s;
}

.type-filter img:hover {
  transform: scale(1.1);
}

.type-filter img.selected {
  border-color: #f5c518;
  box-shadow: 0 0 10px rgba(245, 197, 24, 0.7);
}

/* ✖️ */
.no-result {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #222;
  border-radius: 8px;
}

.clear-types {
  cursor: pointer;
}
